/* Lots of styling to go here */
body {
 background: #202020;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
}

div.all_bar {
    width: 100%;
    background-color: grey;
}

div.val_bar {
    width: 1%;
    background-color: green;
    height: 30px;
}

div.fake_button_unchecked {
    padding: 10px;
    margin: 5px;
    border: 3px solid grey;
    width: 200px;
    border-color: grey;
    background-color: red;
}

div.fake_button_checked {
    padding: 10px;
    margin: 5px;
    border: 3px solid grey;
    width: 200px;
    background-color: green;
}
